body{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer {
    background: #2e2b2b;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;    
    font-size: 0.8rem;
  }
  
  footer a { color: #fff; }
  
  footer a:hover { color: aquamarine; }
  
  footer p { color: white; }
  
  .tm-footer-text-highlight {
    color: white;
    font-weight: 600;
  }
  
  .tm-footer-text-highlight:hover { color: #192b7e; }

.jumbotron {
  display: flex;
}

.div1 {
  width: 50%;
}
.div2 {
  width: 50%;
}
.instrucciones {
  background-color: white;
  text-align: center;
  font-size: 155%;
}
.contenido{
  background-color: white;
  text-align: left;
  font-size: 100%;
}